.about-us {
  @include wrapper(1205px + 40px);
  padding-top: 126px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 110px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 56px;
    padding-bottom: 30px;
    padding-left: 106px;
    padding-right: 106px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 43px;
  }
}

.about-us h2 {
  @include main-title($title-dark);
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
    letter-spacing: -0.005em;
  }
}

.about-us ol {
  @include list();
  counter-reset: factCounter;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  font-size: 22px;
  line-height: 34px;
  text-align: center;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    justify-content: center;
  }
}

.about-us li {
  position: relative;
  display: block;
  margin-bottom: 40px;
  padding-top: 55px;
  max-width: 263px;
  letter-spacing: -0.5px;

  &::before {
    counter-increment: factCounter;
    content: "0" counter(factCounter);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;

    color: $emphasis;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 49px;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
