.contacts h2 {
  @include main-title($title-dark);
  margin-bottom: 30px;
  margin-left: -10px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.contacts address {
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 39px;
  text-align: center;
  font-size: 17px;
  line-height: 31px;
  font-style: normal;
  color: $text-medium-dark;

  @media (max-width: $tablet-width) {
    max-width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.contacts__map {
  width: 100%;
  height: 530px;
  margin-bottom: 40px;
  background-color: #d3cdb8;
  background-image: url("../img/map-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: $tablet-width) {
    height: 545px;
    margin-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    height: 250px;
    margin-bottom: 31px;
    background-image: url("../img/map-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-mobile@2x.jpg");
    }
  }
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.contacts__links {
  @include list();
  display: flex;
  flex-wrap: wrap;
  max-width: 562px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__links li {
  max-width: 50%;
  margin-bottom: 10px;

  &:nth-child(odd) {
    margin-right: 97px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    margin-bottom: 22px;

    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}

.contacts__links a {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: $text-medium;

  &:hover {
    color: $emphasis;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__links svg {
  fill: none;
  margin-right: 14px;
}
