.footer__contacts {
  @include wrapper(957px);
  padding-top: 120px;
  padding-bottom: 90px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 52px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 40px;
  }
}
