/* color palette */

$text-dark: #000000;
$text-medium-dark:rgba(0, 0, 0, 0.7);
$text-medium:rgba(0, 0, 0, 0.5);
$text-light: #ffffff;
$text-extra-light: rgba(255, 255, 255, 0.7);
$input-text: rgba(28, 28, 28, 0.5);
$title-dark: #1f1f1f;
$mobile-menu-text: #48494d;
$emphasis: #0ad9c6;

$input-border: #c9ccd4;
$gray-background: #f6f7f9;
$dark-background: #131314;
$menu-background: #f6f6f6;

/* resolutions */

$mobile-width: 767px;
$tablet-width: 1023px;
